@font-face {
    font-family: Neuropol;
    src: url(assets/fonts/Neuropol.otf);
}

body {
    background-image: url(assets/rm314-aew-19.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    font-family: "century gothic", sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-family: "century gothic", sans-serif;
}
a:hover {
    color: rgb(45,165,255);
}

h1 {
    font-family: "Neuropol", sans-serif;
    color: white;
    text-shadow: 0 0 10px rgb(45,165,255);
    text-align: center;
}
h1.seraph {
    color: white;
    text-shadow: 0 0 10px rgb(45,165,255);
}
h2 {
    font-family: "Neuropol", sans-serif;
    color: white;
}

p {
    font-family: "century gothic", sans-serif;
    color: white;
    background-color: rgb(45,165,255, 0.75);
    padding: 20px;   
    border-radius: 30px;
}

img.logo {
    float: left;
    width: 20%;
}

img {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

model-viewer {
    width: 100%;
}