@font-face {
    font-family: Neuropol;
    src: url(assets/fonts/Neuropol.otf);
}

nav {
    text-align: center;
}
nav a {
    padding: 7px 20px;
    margin: 0 5px;
    white-space: nowrap;
}
li {
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}

body {
    background-image: url(assets/rm314-aew-19.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    font-family: "century gothic", sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
    font-family: "century gothic", sans-serif;
}
a:hover {
    background-color: rgb(45, 165, 255, .60);
    border-radius: 50px;
    box-shadow: 0 0 010px rgb(45, 165, 255);
}
a.button:hover {
    background-color: transparent;
    box-shadow: none;
    color: rgb(45, 165, 255)
}

h1 {
    font-family: "Neuropol", sans-serif;
    color: white;
    text-shadow: 0 0 10px rgb(45, 165, 255);
    text-align: center;
    font-size: 50px;
    clear: both;
}
h1.seraph {
    color: white;
    text-shadow: 0 0 10px rgb(45, 165, 255);
}
h1.header {
    clear: none;
}
h2 {
    font-family: "Neuropol", sans-serif;
    color: white;
}

p {
    font-family: "century gothic", sans-serif;
    color: white;
    background-color: rgb(45, 165, 255, 0.75);
    padding: 20px;
    border-radius: 30px;
    clear: both;
    width: 75%;
    margin: auto;
}

img.logo {
    float: left;
    width: 15%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

img.menu-front {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

model-viewer {
    width: 80%;
    height: 300px;
    margin: auto;
    border: solid 1px rgb(45, 165, 255)
}

iframe.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 60%;
    aspect-ratio: 16/9;
}

iframe.site {
    width: 100%;
    height: 550px;
    display: block;
}

.carousel-inner {
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}
.carousel-inner .carousel-item img {
    height: 750px;
    object-fit: contain;
}
