body.home {
    background-image: url(imgs/14378546669_96e82e7ea1_b.jpg);
    background-size: cover;
}

body.page1 {
    background-image: url(imgs/Gombey_dancers_from_Bermuda2001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body.page2 {
    background-image: url(imgs/national-museum-of-bermuda.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body.page3 {
    background-image: url(imgs/155006.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img.cahow {
    width: 300px;
}

p img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid gray;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 80%;
    margin: auto;
}

img.museum {
    width: 300px;
}

img.map {
    width: 300px;
}

img.gombeys {
    width: 300px;
}

img.cahow {
    float: left;
    margin-right: 10px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: auto;
}

span.clear {
    clear: left;
    display: block;
}

a {
    text-decoration: none;
    font-family: "sniglet", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-shadow: 6px 6px 4px black;
}

p {
    font-family: "century gothic";
}

a.title {
    font-family: "ziclets", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 70px;
    padding-top: 20px;
}

h1 {
    font-family: "dynapuff", sans-serif;
    font-weight: 400;
    font-size: 40pt;
    font-style: normal;
    text-align: center;
}

nav {
    padding: none;
    margin: none;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
