        body.home {
        background-image: url(imgs/14378546669_96e82e7ea1_b.jpg);
        background-size: cover;
        background-attachment: fixed;
        }

        body.page1 {
        background-image: url(imgs/Gombey_dancers_from_Bermuda2001.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
            background-size: cover;
        }

        body.page2 {
        background-image: url(imgs/national-museum-of-bermuda.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
            background-size: cover;
        }

        body.page3 {
        background-image: url(imgs/155006.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
            background-size: cover;
        }

        img.cahow {
        width: 300px;
            }

* {box-sizing: border-box}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
	padding-left: 50px;
	padding-right: 50px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

        p img {
        float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            }

        article {
        background-color: rgba(255,255,255,.9);
        border: 2px solid gray;
        border-radius: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 10px;
            width: 80%;
            margin: auto;
		margin-bottom: 100vh;
            }


        img.museum {
        width: 300px;
            }

        img.map {
        width: 300px;
            }

        img.gombeys {
        width: 300px;
            }
		img.flag {
	width: 300px;
			}

img.cahow {
    float: left;
    margin-right: 10px;
}

        ul {
        display: flex;
        list-style: none;
            }

        li {
        margin: auto;
            }

span.clear {
    clear: left;
    display: block;
}

div.index {
	display: flex;
	align-items: center;
	width: 80%;
	margin: auto;
    margin-top: 500px;
	gap: 15px;
}

a {
    text-decoration: none; 
	font-family: "century gothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: white;
    text-shadow: 6px 6px 4px black;
}

p {
    font-family: "century gothic";
}

a.title {
	font-family: "blackcurrant", sans-serif;
	font-weight: 400;
	font-style: normal;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 70px;
    padding-top: 20px;
}

a:hover {
	text-decoration: none;
	color: white;
}

h1 {
    font-family: "dynapuff", sans-serif;
	font-weight: 400;
    font-size: 40pt;
	font-style: normal;
	text-align: center;
}

nav {
    padding: none;
    margin: none;
	background-color: rgba(255,0,0,.40);
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}